### Task 2

#### Task 2.1

In [ ]:
# Load data (csv file)
data <- read.csv("transformer_data.csv", header = TRUE, sep = ",")
# Display the first few rows of the data
head(data)

  time Y        Ta       S I
1 1    23.49673 7.083333 0 15.89954
2 2    22.72033 7.116667 0 15.86177
3 3    22.05270 7.216667 0 16.12147
4 4    21.53805 7.250000 0 15.44763
5 5    20.99503 7.316667 0 16.25832
6 6    20.61153 7.483333 0 16.63265

In [29]:
png("22_zoom_out_plot_dual_axis.png", width = 12, height = 6, units = "in", res = 300)

# Plot main variables (temperature in °C)
par(bg = "white", mar = c(5, 4, 4, 4) + 0.1)  # Leave space on right for second y-axis
plot(data$Y, type = "l", col = "blue", xlab = "Time", ylab = "Temperature (°C)", 
     main = "Transformer Data with Solar Radiance", 
     ylim = range(c(data$Y, data$Ta, data$I)), lwd = 2)
lines(data$Ta, col = "springgreen2", lwd = 2)
lines(data$I, col = "magenta2", lwd = 2)

# Add solar radiance (S) on a secondary axis
par(new = TRUE)
plot(data$S, type = "l", col = "goldenrod2", axes = FALSE, xlab = "", ylab = "", lwd = 2)
axis(side = 4, col = "goldenrod2", col.axis = "goldenrod2")
mtext("Solar Radiance (W/m²)", side = 4, line = 3, col = "goldenrod2")

# Legend
legend("topright", 
       legend = c("Y (°C)", "Ta (°C)", "I (°C)", "S (W/m²)"), 
       col = c("blue", "springgreen2", "magenta2", "goldenrod2"), 
       lty = 1, lwd = 2)

dev.off()

pdf
  2